In [ ]:
#refrence 04 - Pandas / Day 3 / Activity 05: Ins - Mapping

In [1]:
import pandas as pd

In [76]:
file = "atlanta_shops/shop_point.csv"
data = pd.read_csv(file)
atlanta_poi = data[['X','Y','shop','name','addr:postcode']]
atlanta_poi['shop'].unique()

array(['accessories', 'African Imports', 'alcohol', 'bakery', 'beauty',
       'beverages', 'bicycle', 'books', 'boutique', 'car', 'car_parts',
       'car_repair', 'clothes', 'computer', 'confectionery',
       'convenience', 'copyshop', 'cosmetics', 'craft', 'custom T-shirts',
       'deli', 'department_store', 'discount', 'doityourself',
       'dry_cleaning', 'electronics', 'erotic', 'fishmonger', 'florist',
       'frame', 'fresh juices & smoothies', 'frozen yogurt',
       'Frozen Yogurt', 'funeral_directors', 'furniture', 'gallery',
       'gift', 'glam shop', 'hairdresser', 'hardware', 'headshop', 'hifi',
       'hookah bar', 'household', 'houseware', 'ice_cream', 'Insurance',
       'interior_decoration', 'jewelry', 'kitchen', 'laundry',
       'locksmith', 'mall', 'massage', 'mobile_phone', 'money_lender',
       'motorcycle', 'music', 'nail shop', 'new_age', 'optician',
       'outdoor', 'party', 'pet', 'piercing', 'religion', 'second_hand',
       'shoes', 'skateshop', 'sports', 'stationery', 'supermarket',
       'tailor', 'tattoo', 'ticket', 'tires', 'tobacco', 'toys',
       'travel_agency', 'tyres', 'variety_store', 'video', 'wigs', 'wine',
       'yes'], dtype=object)

In [ ]:
#Subsets of Atlanta Points of Interest
#1: alc_shops - includes both wine and alcohol shops 
#2: food_shops - bakery, confectionery, deli, frozen yogurt, Frozen Yogurt, ice_cream

In [77]:
alc_shops = atlanta_poi.loc[(atlanta_poi['shop']=='alcohol') | (atlanta_poi['shop']=='wine')]
alc_shops.head(3)

           X          Y     shop                       name addr:postcode
2 -84.358365  33.740456  alcohol                    3 Parks           NaN
3 -84.413797  33.809196  alcohol  Capital City Liquor Store         30318
4 -84.362881  33.773527  alcohol      Green's Package Store           NaN

In [81]:
food_shops = atlanta_poi.loc[(atlanta_poi['shop']=='bakery') | (atlanta_poi['shop']=='confectionery')\
                            | (atlanta_poi['shop']=='deli') | (atlanta_poi['shop']=='frozen yogurt')\
                            | (atlanta_poi['shop']=='Frozen Yogurt')| (atlanta_poi['shop']=='ice_cream')]
food_shops.head(3)

            X          Y    shop                 name addr:postcode
14 -84.352826  33.792625  bakery              Alon's            NaN
15 -84.387839  33.761818  bakery   Corner Bakery Cafe         30303
16 -84.346507  33.740036  bakery  Emerald City Bagels         30316